services:
  # Common
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:latest
    ports:
      - 9443:9443
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Bratislava
    volumes:
      - portainer:/data
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - management
    restart: unless-stopped

  watchtower:
    container_name: watchtower
    image: nickfedor/watchtower::latest
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Bratislava
      - WATCHTOWER_MONITOR_ONLY=false
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_SCHEDULE=0 6 0 * * 0
      - WATCHTOWER_NOTIFICATIONS=gotify
      - WATCHTOWER_NOTIFICATION_GOTIFY_URL=${GOTIFY_URL}
      - WATCHTOWER_NOTIFICATION_GOTIFY_TOKEN=${GOTIFY_TOKEN}
      - WATCHTOWER_NOTIFICATIONS_HOSTNAME=SRV-Management
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - management
    restart: unless-stopped

  # Specific
  adguard_home:
    container_name: adguard_home
    image: adguard/adguardhome:latest
    ports:
      - ${IP}:53:53/tcp
      - ${IP}:53:53/udp
      - 3000:3000
    volumes:
      - ./adguard_home/work:/opt/adguardhome/work
      - ./adguard_home/conf:/opt/adguardhome/conf
    networks:
      - management
    restart: unless-stopped

  nginx_proxy_manager:
    container_name: nginx_proxy_manager
    image: jc21/nginx-proxy-manager:latest
    ports:
      - 80:80
      - 81:81
      - 443:443
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Bratislava
    volumes:
      - ./nginx_proxy_manager/data:/data
      - ./nginx_proxy_manager/letsencrypt:/etc/letsencrypt
    networks:
      - management
    restart: unless-stopped

networks:
  management:
    name: management
    driver: bridge

volumes:
  portainer:
    name: portainer
    driver: local