.env
*.sql
notes.txt
docker/bazarr/config
docker/dbeaver/cloudbeaver
docker/duckdns/config
docker/duplicati/config
docker/ignition/projects
docker/mariadb/config
docker/mysql/databases
docker/nextcloud/config
docker/nextcloud/data
docker/npm/data
docker/npm/letsencrypt
docker/pihole/dnsmasq.d
docker/pihole/pihole
docker/plex/config
docker/prowlarr/config
docker/prusaslicer/config
docker/radarr/config
docker/transmission/config
docker/vaultwarden/data
docker/wireguard/config