.env
notes.txt
docker/bazarr/config
docker/duckdns/config
docker/duplicati/config
docker/ignition/projects
docker/mysql/databases
docker/npm/data
docker/npm/letsencrypt
docker/plex/config
docker/prowlarr/config
docker/radarr/config
docker/transmission/config
docker/wireguard/config