services:
  # Common
  watchtower:
    container_name: watchtower
    image: nickfedor/watchtower:latest
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=Europe/Bratislava
      - WATCHTOWER_MONITOR_ONLY=false
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_SCHEDULE=0 6 0 * * 0
      - WATCHTOWER_NOTIFICATIONS=gotify
      - WATCHTOWER_NOTIFICATION_GOTIFY_URL=${GOTIFY_URL}
      - WATCHTOWER_NOTIFICATION_GOTIFY_TOKEN=${GOTIFY_TOKEN}
      - WATCHTOWER_NOTIFICATIONS_HOSTNAME=SRV-Cloud
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - cloud
    restart: unless-stopped

  # Specific
  gotifi:
    container_name: gotify
    image: gotify/server:latest
    environment:
      - TZ=Europe/Bratislava
      - GOTIFY_DEFAULTUSER_PASS=${GOTIFY_PASS}
    volumes:
      - ./gotify:/app/data
    networks:
      - cloud
    restart: unless-stopped

  headscale:
    container_name: headscale
    image: headscale/headscale:stable
    volumes:
      - ./headscale:/var/lib/headscale
      - ./config.yaml:/etc/headscale/config.yaml
    command: serve
    networks:
      - cloud
    restart: unless-stopped

  kimai:
    container_name: kimai
    image: lscr.io/linuxserver/kimai:latest
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=Europe/Bratislava
      - DATABASE_URL=mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@mariadb/${MYSQL_DATABASE}
      - TRUSTED_PROXIES=*
    volumes:
      - ./kimai:/config
    depends_on:
      - mariadb
    networks:
      - cloud
    restart: unless-stopped

  mariadb:
    container_name: mariadb
    image: lscr.io/linuxserver/mariadb:latest
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=Europe/Bratislava
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - ./mariadb:/config
    networks:
      - cloud
    restart: unless-stopped

  nginx_proxy_manager:
    container_name: nginx_proxy_manager
    image: jc21/nginx-proxy-manager:latest
    ports:
      - 80:80
      - 81:81
      - 443:443
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=Europe/Bratislava
    volumes:
      - ./nginx_proxy_manager/data:/data
      - ./nginx_proxy_manager/letsencrypt:/etc/letsencrypt
    networks:
      - cloud
    restart: unless-stopped

networks:
  cloud:
    name: cloud
    driver: bridge
