services:
  # Common
  portainer-agent:
    container_name: portainer-agent
    image: portainer/agent:latest
    ports:
      - 9001:9001
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
    networks:
      - arr
    restart: unless-stopped

  watchtower:
    container_name: watchtower
    image: nickfedor/watchtower::latest
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Bratislava
      - WATCHTOWER_MONITOR_ONLY=false
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_SCHEDULE=0 6 0 * * 0
      - WATCHTOWER_NOTIFICATIONS=gotify
      - WATCHTOWER_NOTIFICATION_GOTIFY_URL=${GOTIFY_URL}
      - WATCHTOWER_NOTIFICATION_GOTIFY_TOKEN=${GOTIFY_TOKEN}
      - WATCHTOWER_NOTIFICATIONS_HOSTNAME=SRV-Arr
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - arr
    restart: unless-stopped

  # Specific
  bazarr:
    container_name: bazarr
    image: lscr.io/linuxserver/bazarr:latest
    ports:
      - 6767:6767
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Bratislava
    volumes:
      - ./bazarr/config:/config
      - movies:/movies
    networks:
      - arr
    restart: unless-stopped

  # lidarr:
  #   container_name: lidarr
  #   image: lscr.io/linuxserver/lidarr:latest
  #   ports:
  #     - 8686:8686
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=Europe/Bratislava
  #   volumes:
  #     - ./lidarr/config:/config
  #     - downloads:/downloads
  #     - music:/music
  #   depends_on:
  #     - prowlarr
  #   networks:
  #     - arr
  #   restart: unless-stopped

  prowlarr:
    container_name: prowlarr
    image: lscr.io/linuxserver/prowlarr:latest
    ports:
      - 9696:9696
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Bratislava
    volumes:
      - ./prowlarr/config:/config
    depends_on:
      - transmission
    networks:
      - arr
    restart: unless-stopped

  radarr:
    container_name: radarr
    image: lscr.io/linuxserver/radarr:latest
    ports:
      - 7878:7878
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Bratislava
    volumes:
      - ./radarr/config:/config
      - downloads:/downloads
      - movies:/movies
    depends_on:
      - prowlarr
    networks:
      - arr
    restart: unless-stopped

  radarr-czsk: # remove if you don't have a czech/slovak movies share
    container_name: radarr-czsk
    image: lscr.io/linuxserver/radarr:latest
    ports:
      - 7879:7878
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Bratislava
    volumes:
      - ./radarr-czsk/config:/config
      - downloads:/downloads
      - movies-czsk:/movies
    depends_on:
      - prowlarr
    networks:
      - arr
    restart: unless-stopped

  transmission:
    container_name: transmission
    image: lscr.io/linuxserver/transmission:latest
    ports:
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Bratislava
    volumes:
      - ./transmission/config:/config
      - downloads:/downloads
      - watch:/watch
    networks:
      - arr
    restart: unless-stopped

networks:
  arr:
    name: arr
    driver: bridge

volumes:
  downloads:
    name: downloads
    driver: local
    driver_opts:
      type: nfs
      o: addr=${IP},rw,nolock,soft,nfsvers=4
      device: ${DOWNLOADS}
  movies:
    name: movies
    driver: local
    driver_opts:
      type: nfs
      o: addr=${IP},rw,nolock,soft,nfsvers=4
      device: ${MOVIES}
  movies-czsk: # remove if you don't have a czech/slovak movies share
    name: movies-czsk
    driver: local
    driver_opts:
      type: nfs
      o: addr=${IP},rw,nolock,soft,nfsvers=4
      device: ${MOVIES_CZSK}
  music:
    name: music
    driver: local
    driver_opts:
      type: nfs
      o: addr=${IP},rw,nolock,soft,nfsvers=4
      device: ${MUSIC}
  watch:
    name: watch
    driver: local
    driver_opts:
      type: nfs
      o: addr=${IP},rw,nolock,soft,nfsvers=4
      device: ${WATCH}
